@(user: models.users.User)

@main("", user) {
    
    <div class="container-fluid">
            ​​<div class="container">
          <div class="jumbotron">
            <h1 align="center">About us</h1>   
        <hr>	
            <h2 align="center">We are Dublins newest and best rated club </h2>
          <h2></h2>
          </div>
             
        </div>  
    </div> 
    
    

    <div id="panel1" class="panel panel-success ">
            <div class="panel-heading">What does our CEO have to say ?</div>
            <div class="panel-body"><blockquote>
                    <p class="text-success">"A satisfied customer is the best business strategy of all."</p>
                    <footer>Taylor McGrath</footer>
                  </blockquote></div>
          </div>
          
          <div id="panel2" class="panel panel-info text-center">
            <div class="panel-heading">Insiration and Passion</div>
            <div class="panel-body">“I think passion can be split up into drive and determination, maybe even ambition. We’re not all career people, if that was the case, we’d all stay in a safe little world. I had a very good salary before I embarked on my Club business. People who set up their own business are all risk takers, there are times when you are sailing by the seat of your pants with running it all. I think the risks become more measured the more established the business becomes and you have a different confidence. Running your own business is addictive"<blockquote>
                    <p class="text-success"></p>
                    <footer>Jane Doe</footer>
                  </blockquote></div>
            
          </div>
      
          <div id="panel3" class="panel panel-warning text-right">
                <div class="panel-heading">Where are we now ?</div>
                <div class="panel-body">Genesis is now the best selling club an ecomerce site for any Irish club<blockquote>
                        <p class="text-success"></p>
                        <footer>Genesis</footer>
                      </blockquote></div>
            
          </div>
    
     
}