@(user: models.users.User)

@main("", user) {
     
    ​​<div class="container">
            <div class="jumbotron">
              <h1 align="center">Home</h1>   
          <hr>	
              <h2 align="center"><b>Sign Up for Free</b></h2>
              
            </div>
               
          </div>

          <div id="homeimg"class="container-fluid">
            
        
          <div class="row">
            
          <div class="col-sm-3"><img src="@routes.Assets.versioned("images/seaside.jpg")" alt="1"></div>
          <div class="col-sm-3"><img src="@routes.Assets.versioned("images/MoneyMaker.jpg")" alt="2"></a></div>
          <div class="col-sm-3"><img src="@routes.Assets.versioned("images/discJockey.jpg")" alt="3"></div>
          <div class="col-sm-3"><img src="@routes.Assets.versioned("images/TheGambler.jpg")" alt="3"></div>
          
          </div>
        </div>
  
        <div id="box1"><h3>Come Join us for all the best deals and events across our beautiful club. We offer deals and offers to suit all needs so visit our Genesis Store and find all of our tickets for upcoming events, Deals and much more.</h3></div>
        

</div>
           
   
     
}